

table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    padding : 50px;
    margin: 10px;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    box-shadow:0 5px 0 rgb(148, 156, 163);
    



}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: g;
}

.container {
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -110px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-t {
    position: relative;
    display: flex;
    
    
}

th {
    background-color: rgb(53, 92, 219);
    color: white;
    border:none;
}
 td {
    background-color: rgb(201, 228, 251);
    color: blue;
    border: none;
 }